<%- include('includes/header'); %>
  <%- include('includes/navbar'); %>


    <div class="container">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">

        <h3 class="text-center">All your contacts saved in one place!</h3 >

        <%- include('includes/messages') %>

          <% if (contacts.length > 0) { %>
        
        <div class="responsible-table">
          <table class="table my-5 table table-striped">
                         
            <thead>
              <tr>
                
                <th scope="col">Who</th>
                <th scope="col">Surname</th>
                <th scope="col">E-mail</th>
                <th scope="col">Phone</th>
                <th scope="col">Edit</th>
                <th scope="col">Del</th>
              </tr>
            </thead>
              <% contacts.forEach(contact => { %>
                <tr>

                  
                  <td><%= contact.fname %></td>
                  <td><%= contact.lname %></td>
                  <td><%= contact.email %></td>
                  <td><%= contact.phone %></td>
                  <td><a href="/contact/<%= contact._id %>">Edit</a></td>
                  <td><a class="text-danger" href="/contact/delete/<%= contact._id %>">Del</a></td>
                </tr>
                <% }); %>

            </table>
        </div>
        <% } else { %>
          <hr>
          <p class="text-center lead text-danger">There is no record in your contacts!</p>
          <hr>
        <% } %>
      </div>

      <div class="col-lg-2"></div>


    </div>


    <%- include('includes/footer'); %>