<%- include('includes/header'); %>
  <%- include('includes/navbar'); %>


    <div class="container">
      <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Hi, <%= user.email %></h1>
        <p class="text-center lead">You have logout to create another account.</h1>

        <%- include('includes/messages'); %>


          

            </div>


            <div class="col-lg-2"></div>


          </div>

        </div>
          <%- include('includes/footer') %>